* {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: url(images/pattern-bg.png);
  background-size: 100vw 40vh;
}

#mapid {
  height: 60vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#gridContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  width: 80vw;
  height: 20vh;
  position: absolute;
  top: 30vh;
  left: 10vw;
  z-index: 2;
}

.subgrid {
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: white;
  width: 100%;
}

.upper {
  font-weight: 400;
  font-size: 12px;
  color: hsl(0, 0%, 59%);
  position: relative;
  left: 7%;
  top: 62%;
  width: 93%;
  height: 38%;
}

.lower {
  font-weight: 700;
  position: relative;
  left: 7%;
  top: 5%;
  height: 95%;
  width: 90%;
}

#borderL {
  border-radius: 12px 0 0 12px;
}

#borderR {
  border-radius: 0 12px 12px 0;
}

#isp {
  overflow: auto;
}

#ipForm {
  display: grid;
  width: 40vw;
  height: 7vh;
  position: relative;
  left: 30vw;
  top: 10vh;
  grid-template-columns: 90% 10%;
}

#ipadress{
  font-size: 15px;
  border-radius: 7px 0 0 7px;
  border: none;
  text-align: center;
}

#submitButton {
  border: none;
  border-radius: 0 7px 7px 0;
  background-color: black;
}

#submitButton:hover {
  opacity: 0.7;
}

/*For 4k*/
@media only screen and (min-width: 1500px){
  #ipadress{
    font-size: 22px;
  }
}

@media only screen and (min-width: 2559px) {
  #gridContainer {
    width: 60vw;
    height: 16vh;
    position: absolute;
    top: 32vh;
    left: 20vw;
  }

  .upper {
    font-size: 30px;
    top: 52%;
    height: 48%;
  }

  .lower {
    font-size: 32px;
    top: 0;
    height: 100%;
  }

  #city,
  #region,
  #postalCode {
    font-size: 32px;
    top: 0;
    height: 100%;
  }

  #ipadress{
    font-size: 24px;
  }
}

@media only screen and (max-width: 1150px) {
  #gridContainer {
    width: 90vw;
    height: 20vh;
    position: absolute;
    top: 30vh;
    left: 5vw;
  }

  .lower {
    font-size: 14px;
    overflow: auto;
  }

  #city,
  #region,
  #postalCode {
    font-size: 14px;
  }
}

@media only screen and (max-width: 633px) {
  #gridContainer {
    width: 98vw;
    left: 1vw;
  }

  #ipForm {
    width: 50vw;
    left: 25vw;
  }
}

@media only screen and (max-width: 490px) {
  #gridContainer {
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    height: 40vh;
    top: 15vh;
    width: 90vw;
    left: 5vw;
  }

  #ipForm {
    display: grid;
    width: 90vw;
    height: 7vh;
    position: relative;
    left: 5vw;
    top: 5vh;
    grid-template-columns: 90% 10%;
  }

  .subgrid {
    grid-template-rows: 40% 60%;
    align-items: center;
  }

  #borderL {
    border-radius: 12px 12px 0 0;
  }

  #borderR {
    border-radius: 0 0 12px 12px;
  }

  .upper {
      position: static;
      width: fit-content;
      height: fit-content;
      justify-self: center;
      align-self: center;
  }

  .lower {
      position: static;
      width: fit-content;
      height: fit-content;
      justify-self: center;
      align-self: center;
      text-align: center;
  }
}
